# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python Bytecode and Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Data and Secrets
.env
data/
*.csv
*.sqlite

# IDE Settings (Optional)
.vscode/
.idea/

